@import url('./fonts.css');
*,
html,
body {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'IBM Plex Mono', system-ui;
    font-style: normal;
    background-color: #000000;
}

h1,
h2,
h3,
h4,
p,
a,
li {
    letter-spacing: -0.03em;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
    /* border: 1px solid red; */
}


/* @header */

.header {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__wrapper {
    /* padding: 9px 0 7px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rgb(12, 30, 230); */
}

.header-logo {
    width: 130px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #000000;
}

.header-logo__link {
    margin-left: -7px;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 42px;
    /* line-height: 55px; */
    line-height: 40px;
    letter-spacing: -0.11em;
    text-transform: uppercase;
    color: #1bff07;
}

.header-nav {
    /* margin-top: -2px; */
    align-self: start;
}

.header-menu__list {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    /*  border: 1px solid red; */
}

.header-menu__list :last-child {
    margin-right: 0;
}

.header-menu__item {
    font-size: 18px;
    font-weight: 400;
    /* line-height: 23px; */
    line-height: 17px;
    text-transform: lowercase;
    text-align: right;
}

.header-menu__link {
    display: inline-block;
    position: relative;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.header-menu__link:hover {
    color: #1BFF07;
}


/* @section hero */

.hero {
    margin-bottom: 150px;
    height: 765px;
    position: relative;
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__content {
    position: absolute;
    bottom: 88px;
}

.hero__desc {
    width: 430px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
}

.hero__title {
    margin-top: 30px;
    /* perfect pixel */
    /* margin-left: -4px; */
    width: 919px;
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
    color: #1bff07;
}


/* @section projects  */

.projects {
    /*  margin-top: 150px; */
    margin-bottom: 150px;
}

.projects__title {
    font-size: 55px;
    font-weight: 400;
    line-height: 72px;
    color: #ffffff;
}

.projects-list {
    margin-top: 40px;
    margin-bottom: 80px;
}

.projects-item {
    /*  position: relative; */
    border-radius: 30px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.projects-item:hover {
    -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.504);
    -moz-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.504);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.504);
    transform: scale(1.003);
    z-index: 10;
}

.projects-item__link {
    width: 100%;
    height: 550px;
    position: relative;
    display: block;
}

.projects-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-item__inner {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.projects-item__title {
    font-size: 35px;
    font-weight: 400;
    line-height: 46px;
    color: #ffffff;
}

.projects-item__subtitle {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    color: #ffffff;
}

.projects__btn {
    padding: 56px 0;
    width: 581px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    border-radius: 10px;
    color: #000000;
    background-color: #1BFF07;
    border: 1px solid #1BFF07;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.projects__btn:hover {
    color: #1BFF07;
    background-color: transparent;
}


/* @section competencies */

.competencies {
    /* margin-top: 150px; */
    /* margin-bottom: 150px; */
    margin-bottom: 154px;
}

.competencies__title {
    font-size: 55px;
    font-weight: 400;
    line-height: 72px;
    color: #ffffff;
}

.competencies-list {
    margin-top: 48px;
}

.competencies-list :first-child {
    margin-top: 0;
}

.competencies-item {
    /* margin-top: 60px; */
    margin-top: 60px;
}

.competencies-item__icon-wrapper {
    width: 45px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #1BFF07;
}

.competencies-item__icon {
    width: 24px;
    height: 22px;
    display: block;
    /* object-fit: contain; */
}

.competencies-item__title {
    margin-top: 14px;
    font-size: 35px;
    font-weight: 400;
    line-height: 46px;
    color: #1BFF07;
}

.competencies-item__desc {
    width: 778px;
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    color: #ffffff;
}


/* @section services */

.services {
    /*  margin-top: 150px; */
    /* margin-top: 154px; */
    margin-bottom: 150px;
}

.services__title {
    width: 403px;
    font-size: 35px;
    font-weight: 400;
    line-height: 46px;
    color: #ffffff;
}

.services-list {
    margin-top: 74px;
}

.services-list :first-child {
    margin-top: 0;
}

.services-item {
    margin-top: 74px;
}

.services-item--layout .services-item__info-wrapper {
    padding-bottom: 69px;
}

.services-item--interface {
    margin-top: 137px;
}

.services-item__img-wrapper {
    height: 200px;
    border-radius: 30px;
}

.services-item__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 30px;
}

.services-item__info-wrapper {
    padding: 40px;
    border-radius: 30px;
    background-color: #191C19;
}

.services-item__title {
    font-size: 55px;
    font-weight: 400;
    line-height: 72px;
    color: #1BFF07;
}

.services-item__desc {
    margin-top: 15px;
    width: 749px;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    color: #ffffff;
}

.services-item--interface .services-item__desc {
    width: 724px;
}


/* @section contacts */

.contacts {
    /*  margin-top: 150px; */
    margin-bottom: 150px;
    height: 717px;
    position: relative;
    border-radius: 30px;
    background-image: url('../img/contacts-01.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 118% 50%;
    background-color: #191C19;
}

.contacts__info {
    position: absolute;
    bottom: 89px;
}

.contacts__title {
    font-size: 35px;
    font-weight: 400;
    line-height: 60px;
    color: #ffffff;
}

.contacts__list {
    margin-top: 28px;
}

.contacts__list :first-child {
    margin-top: 0;
}

.contacts__item {
    margin-top: 20px;
}

.contacts__link {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: #ffffff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.contacts__link:hover {
    color: #1BFF07;
}


/* footer */

.footer {
    padding-top: 76px;
    padding-bottom: 24px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
}

.footer__title {
    font-family: 'Manrope-local-font', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    margin-bottom: 66px;
}


/* .copyright {
    margin-top: 66px;
} */

.copyright__link {
    font-family: 'Manrope-local-font', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #000000;
    opacity: 50%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.copyright__link:hover {
    opacity: 100%;
}


/* media queries */

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .hero__title {
        width: 600px;
        font-size: 50px;
        line-height: 56px;
    }
    .services-item__desc {
        width: 500px;
    }
    .services-item--interface .services-item__desc {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .hero__title {
        width: 100%;
        font-size: 40px;
        line-height: 46px;
    }
    .projects-item:hover {
        transform: scale(1);
        z-index: 0;
    }
    .projects__btn {
        width: 450px;
    }
    .competencies-item__desc {
        /* width: 500px; */
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .services-item__desc {
        max-width: 100%;
    }
    .services-item--interface .services-item__desc {
        max-width: 100%;
    }
}